/*flexbox thingy*/
@import "compass/css3";

.main-container {
	/*background-color: dimgray;*/
	background-color: deeppink;
	min-width: 95%;
	/*margin-bottom: 5rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 0;*/
	position: fixed;
	padding: 2em;
	left: 50%;
	transform: translate(-50%);
	padding-top: 0;

}

.flex-parent {

	justify-content: center;
	flex-flow: row wrap;
}

.container {
	max-width: 1280px;
	min-width: 640px;
	margin: 0 auto;
}

.img-row {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.img-container {
	width: 25%;   height: 25vw;
	flex: 1 0 260px;
	position: relative;
	overflow: hidden;

}

img {
	position: absolute;
	top: -60px;
	left: -60px;
	width: 200%;
	height: auto;
	z-index: -100;
}

.text_over_image {
	text-align:center;
	position: absolute;
	margin: auto;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	color:white;
	/*****/

	width: 300px;
	height: 200px;
	vertical-align:middle;
	line-height:200px;
}

.flex-img {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row; /* Safari */
	flex-direction:         row;
	width: 80rem;
	height: 80rem;
	margin-top: 0;
	background-image: url("http://fillmurray.com/g/1280/960");
	background-size: contain;
	background-repeat: no-repeat;


}

/*
.img-flex {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row; * Safari *
	flex-direction:         row;

	-webkit-justify-content: center; * Safari *
	justify-content:         center;
	*flex-basis: 80rem;*
	min-height: 39rem;
}
*/

/***************************/

/* - table-index css - Talcotted
.img-box-l {
	float:left;
	position: relative;
	width: 46%;
	padding-bottom : 34.5%;
	margin-bottom:1.66%;
	margin-right:0;
	margin-left:4%;
	background-color:#1E1E1E;
	overflow:hidden;
}

.img-box-r {
	float:right;
	position: relative;
	width: 46%;
	padding-bottom : 34.5%;
	margin-bottom:1.66%;
	margin-left:0;
	margin-right:4%;
	background-color:#1E1E1E;
	overflow:hidden;
}

.bg-image {
	background-image: url("http://fillmurray.com/g/1280/960");
	background-repeat: no-repeat;
	background-size: contain;
}


.nav-text {
	position:absolute;
	height:100%;
	width:100%;
	text-align:center;
	color: white;
	transform-style: preserve-3d;  *apparently prevents half-pixel fuckery*
}

.table{
	display:table;
	height:100%;
	width:100%;
}

.table-cell{
	display:table-cell;
	vertical-align:middle;
	height:100%;
	width:100%;
}

*/

/****************************************/


/*
	Index Page Styles
 */



#backgroundBox {
	/*background-color: dimgray;*/
	background-color: deeppink;
	margin-bottom: 5rem;
	margin-left: 5rem;
	margin-right: 5rem;


}

.bg-image {

	background-image: url("http://fillmurray.com/g/1280/720");
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 0;
	padding-bottom: 0;



	/*width: 46%;
	padding-bottom : 34.5%;*/
}



/*
	Content Pages Styles
 */

/* colors main text on pages */
.contentText {
	padding: 5px;
	color: white;
}

.contentImage {
	padding: 2px;
}

#backgroundBoxBorder {
	background-color: gray;
	border: 1px solid white;
	border-radius: 10px 40px;
}



/* possibly unneeded */
h2 {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
}

.background-image {
	width: 25%;
	height: 25vw;
	flex: 1 0 260px;

	position: relative;
	overflow: hidden;
}

/*
	Global Styles
 */

/* add sticky footer globally */

/**Sticky footer
http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
**/
.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: dimgray;
}

.sfooter-content {
	flex: 1 0 auto;
}

html {
	display: flex;
}

body {
	width: 100%;
}
