/*flexbox thingy*
@import "compass/css3";

.container {
	max-width: 1280px;
	min-width: 640px;
	margin: 0 auto;
}

.img-row {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
*/

/***************************/

.img-box-l {
	float:left;
	position: relative;
	width: 46%;
	padding-bottom : 34.5%;
	margin-bottom:1.66%;
	margin-right:0;
	margin-left:4%;
	background-color:#1E1E1E;
	overflow:hidden;
}

.img-box-r {
	float:right;
	position: relative;
	width: 46%;
	padding-bottom : 34.5%;
	margin-bottom:1.66%;
	margin-left:0;
	margin-right:4%;
	background-color:#1E1E1E;
	overflow:hidden;
}

.bg-image {
	background-image: url("http://fillmurray.com/g/1280/960");
	background-repeat: no-repeat;
	background-size: contain;
}

.nav-text {
	position:absolute;
	height:100%;
	width:100%;
	text-align:center;
	color: white;
	transform-style: preserve-3d; /* apparently prevents half-pixel fuckery */
}

.table{
	display:table;
	height:100%;
	width:100%;
}

.table-cell{
	display:table-cell;
	vertical-align:middle;
	height:100%;
	width:100%;
}


/****************************************/


/*
	Index Page Styles
 */

#backgroundBox {
	/*background-color: dimgray;*/
	background-color: deeppink;
	/*margin-bottom: 5rem;
	margin-right: 5rem;
	margin-left: 5rem;*/
}

/*
	Content Pages Styles
 */

/* colors main text on pages */
.contentText {
	padding: 5px;
	color: white;
}

.contentImage {
	padding: 2px;
}

#backgroundBoxBorder {
	background-color: gray;
	border: 1px solid white;
	border-radius: 10px 40px;
}



/* possibly unneeded */
h2 {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
}

.background-image {
	width: 25%;
	height: 25vw;
	flex: 1 0 260px;

	position: relative;
	overflow: hidden;
}

/*
	Global Styles
 */

/* add sticky footer globally */

/**Sticky footer
http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
**/
.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: dimgray;
}

.sfooter-content {
	flex: 1 0 auto;
}

html {
	display: flex;
}

body {
	width: 100%;
}
