.image {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
}

h2 {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
}




#backgroundBox {
	background-color: dimgray;
}

#backgroundBoxBorder {
	background-color: gray;
	border: 1px solid white;
	border-radius: 10px 40px;
}

.contentTitle {
	font-weight: bold;
	font-size: 32px;
	color: white;
	padding: 5px;

}

.contentImage {
	padding: 2px;
}

.contentText {
	padding: 5px;
	color: white;
}

/**Sticky footer
http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
**/

html {
	display: flex;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: dimgray;
}

.sfooter-content {
	flex: 1 0 auto;
}